<mat-toolbar color="primary">
  <mat-toolbar-row fxLayoutAlign="space-between">
    <div fxLayout="row" fxLayoutAlign="center stretch" fxLayoutGap="3%" class="brand">
      <a [routerLink]="['']">
        <img src="assets/images/logo.png" class="logo" alt="Logo de la Universidad del Cauca">
      </a>
      <mat-divider class="divider" vertical ></mat-divider>
      <a [routerLink]="['']" fxFlex class="titulo">
        <div>Sistema de inscripciones a programas de extensión</div>
      </a>
    </div>
    <div fxLayout="row" fxFlexAlign="center stretch">
      <app-toolbar-link [path]="'crearCuenta'" [text]="'Crear cuenta'" [isSelected]="routingService.currentRouteIsCrearCuenta()"></app-toolbar-link>
      <app-toolbar-link [path]="'iniciarSesion'" [text]="'Iniciar sesión'" [isSelected]="routingService.currentRouteIsIniciarSesion()"></app-toolbar-link>
      <app-toolbar-link [path]="'recuperarContrasena'" [text]="'Recuperar contraseña'" [isSelected]="routingService.currentRouteIsRecuperarContrasena()"></app-toolbar-link>
    </div>
  </mat-toolbar-row>
</mat-toolbar>
