<div fxLayout="row wrap" fxLayoutAlign="center start" fxLayoutGap.sm="3%" fxLayoutGap.gt-sm="5%">
  <mat-card fxFlex.lt-sm="90%" fxFlex.sm="50%" fxFlex.gt-sm="50%">
    <mat-card-header>
      <mat-card-title>
        <div class="mat-title">Sistema de inscripciones a programas de Extensión</div>
      </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div fxLayout="column" fxLayoutAlign="center stretch" fxLayoutGap="30px">
        <img src="http://www.unicauca.edu.co/versionP/sites/default/files/images/Inscripciones_Unicauca_I2020.png">
        <div class="mat-body">
          <p>
            La Universidad del Cauca da la bienvenida a todos los aspirantes que deseen hacer parte del proceso de inscripción y admisión a los programas de pregrado que se ofrecen para el primer periodo académico de 2020.
            El proceso de admisión se llevará a cabo entre el 16 de octubre 2019 y el 22 de noviembre 2019, con los siguientes valores de derechos de inscripción (Resolución Rectoral 287 de 2019):
          </p>
          <div class="mat-subheading-2">Más información</div>
          <p>
            Aspirante, si tienes inconvenientes con tu inscripción, el manejo de la plataforma o inconvenientes técnicos, la Universidad del Cauca ha dispuesto las siguientes líneas de atención:
            Para cualquier inquietud sobre el proceso de inscripción, requisitos o en caso de requerir información adicional, puede comunicarse con la División de Admisiones, Registro y Control Académico. Teléfono: 8209900 Extensión  2582 - 2179 - 2581. Correo electrónico: preguntasadmision@unicauca.edu.co
          </p>
          <p>
            Las solicitudes relacionadas con aspectos tecnológicos del Sistema de Inscripciones o en caso de presentar inconvenientes con el registro o acceso al sistema, puede comunicarse con el área de atención Contacto 55 de la División TIC.
          </p>
        </div>
      </div>
    </mat-card-content>
  </mat-card>

  <app-iniciar-sesion fxFlex.sm="40%" fxFlex.md="30%" fxFlex.gt-md="380px" [hidden]="mediaScreenService.screen_is_xs | async"></app-iniciar-sesion>

</div>
