.container {
  position: fixed;
  background-attachment: fixed;
  background: url('/assets/images/background.png') no-repeat;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100vh;
}
